.backgraund_container {
    background: #3A4965;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

.table {
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

th{
    width: 280px;
    height: 73px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

td {
    width: 280px;
    height: 73px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

thead {
    height: 159px;
}

h3 {
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;

}

.table_head {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.head_col_1{
    background-color:  #FAFAFA;
}

.head_col_2{
    background-color: #89C331;
}

.head_col_3{
    background-color: #F04A56;
}

.head_col_4{
    background-color: #20807C;
}


.col_1-paragraph {
    color: #484848;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.paragraph_item {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    display: block;
}

.head_price {
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    position: relative;
    text-align: left;
}

.price_heading {

    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    position: relative;
    margin-left: 33px;
    margin-top: 26px;
}


.price_heading::after{
    content: '.99';
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    font-family: 'Arimo', sans-serif;
    bottom: 25px;
    left: 100px;
}



.price_elements {
    margin-bottom: 24px;
}

.elements_heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    text-align: start;
    margin: 0;
    margin-top: 12px;
    color: #484848;
    position:relative;

}
.elements_paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    margin:0;
    margin-left: 4px;
    color: #484848;
    display: inline-block;
    position: absolute;
    left: 137px;
    top: 30px;
}

p {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.storage,  .email, .products{
    background: #F2F2F2;
}

.Bandwidth {
    background: #E3E3E3;
}

.support, .users {
    background: #E3E3E3;
}

.contacts {
    background: #DDDDDD;
}

.contacts_button {
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
    padding: 18px 45px 18px 45px;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Arimo', sans-serif;
    border: none;
    cursor: pointer;

}
.buy {
    background: linear-gradient(to bottom, #89C331 85%, #79B027 15%);
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Arimo', sans-serif;
    border: none;
    padding: 18px 57px 18px 57px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.buy_ultimate {
    background: linear-gradient(to bottom, #F04A56 85%, #DF3A46 15%);
}

.buy_premium {
    background: linear-gradient(to bottom, #20807C 85%, #16736F 15%);
}

.standart_button, .premium_button {
   background: #EEEEEE;
}

.ultimate_button {
    background: #F4F4F4;
}