html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* navbar */

.navbar {
  text-align: center;
}

.navbar_item_list {
  list-style-type: none;
  display: inline;
}

.navbar_item_list_link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ff0000;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 70px;
}

/* picture */

.image {
  width: 100%;
  height: 790px;
  object-fit: cover;
}

/* text */

.text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.text_row_heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px;
  letter-spacing: 3.3px;
}

.text_row_paragraph {
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* button */

.box_btn {
  text-align: center;
}

.btn {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #ff0000;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1.8px;
  border-radius: 4px;
  margin-top: 50px;
  cursor: pointer;
}

/* footer */

.footer_paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  margin-top: 100px;
  padding-bottom: 30px;
  text-align: right;
  margin-right: 105px;
}
