.background_container {
    display: flex;
    background: #3A4965;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.table {
    text-align: center;
    border-collapse: collapse;
}

td, .header_wrap {
    font-family: 'Arimo', sans-serif;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border-collapse: collapse;
}

th {
    height: 110px;
    width: 201px;
    padding: 0 0 12px 0;
}

.header_wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.header_paragraph {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
}

.paragraph_el {
    display: block;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
}

.header_el_paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

th:first-child .header_wrap {
    background: #FAFAFA;
}

th:nth-child(even):not(:first-child) .header_wrap,
td:nth-child(even):not(:first-child) {
   background: #E3E3E3;
}

th:nth-child(odd):not(:first-child) .header_wrap,
td:nth-child(odd):not(:first-child) {
    background: #F2F2F2;
}

.packages_heading {
   margin-top: 23px;
    margin-bottom: 4px;

}

.table_packages {
    position: relative;
    color: #FFFFFF;
    height: 164px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    text-align: center;
}

.prise_pragraph {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    position: relative;
    color: #FFFFFF;
   text-align: left;
    margin-left: 20px;
    margin-bottom: 13px;
    margin-top: 13px;

}

.prise_pragraph::after {
    content: '.99';
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    bottom: 9px;
    left: 40px;
}

.prise_element {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    top: 45px;
    right: 26px;

}

.button  {
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #414141 85%, #343434 25%);
    border: none;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    cursor: grab;
    margin-bottom: 24px;

}

.standard {
    background: #89C331;
}

.ultimate {
    background: #F04A56;
}

.premium {
    background: #20807C;
}