body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.active {
    display: block;
}