:root {
  --main-bg: white;
  --color-header-link: rgb(75, 201, 254);
  --clor-header-link-elem:#000000;
  --header-nav-link-color:#ffffff;
  --nav-list-item-hover:#222f3a;
  --navigation-bgr-color:#35444f;
--sidebar-link-text-color: #000000;
--sidebar-text-link-hover:#dbdbdb;
  --footer-container-bgr-color:rgba(99, 105, 110, 0.48);
  --footer-item-link-color:#000000;
--footer-item-link-color-hover:rgb(75, 118, 152);
  --footer-borderBtm-link-hover:rgb(75, 118, 152);
  --togle-btn-img:url(../img/dark.png);
  --description-paragr-color: black;
  --footer-copi-color:black;
  --sidebar-list-border-color:#000000;
}
:root[data-theme='dark']{
  --clor-header-link-elem: #fff;
  --main-bg: #000000;
  --togle-btn-img: url(../img/sun.png);
  --sidebar-link-text-color: #fff;
  --sidebar-text-link-hover:rgba(99, 105, 110, 0.48);
  --description-paragr-color: white;
  --footer-item-link-color: white;
  --footer-copi-color:white;
  --sidebar-list-border-color:#dbdbdb;
  --navigation-bgr-color: rgba(99, 105, 110, 0.48);
  --color-header-link:rgb(75, 118, 152);
  --footer-item-link-color-hover:rgb(75, 118, 152);
  --nav-list-item-hover:rgb(75, 118, 152);
}

body {
  box-sizing: border-box;
  background-color: var(--main-bg);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* logo */


.header_heading {
  margin-top: 65px;
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 94px;
}

.heading_link {
  text-decoration: none;
  color: var(--color-header-link);
}

.heading_ra {
  color: var(--clor-header-link-elem) ;
}
.toggle_btn {
  position: fixed;
  left: 95%;
  bottom: 90%;
  background-image: var(--togle-btn-img);
  width: 50px;
height: 50px;

  border: 1px solid var(--footer-item-link-color-hover);
  border-radius: 90%;
  background-color: white;
  background-size: cover;
  cursor: pointer;

}
/* heading nav */

.header_nav_link {
  text-decoration: none;
  color: var(--header-nav-link-color);
  font-size: 24px;
  line-height: 28px;
  padding: 26px 33px 20px 33px;
  display: block;
}

.nav_list_item:hover {
  background-color: var(--nav-list-item-hover);
}

.nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--navigation-bgr-color);
}

.nav_list_item {
  border: 1px solid #ffffff;
}
/* main cotainer */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

/* section description */

.description {
  margin-left: 55px;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 529px;
  width: 100%;
  border: 1px solid #030303;
  background-color: white;
}

.description_image {
  transition-duration: 1s;
  background-color: white;
}

.description_image:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.descriotion_paragraph {
  margin-top: 35px;
  font-size: 18px;
  line-height: 24px;
  color:   var(--description-paragr-color);
}

/* sidebar */

.sidebar_list {
  list-style-type: none;
  border: 1px solid var(--sidebar-list-border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: middle;
  padding: 0px;
  width: 360px;
}

.sidebar_list_item {
  font-size: 27px;
  line-height: 27px;
}

.sidebar_item_link {
  display: block;
  text-decoration: none;
  color:var(--sidebar-link-text-color);
  padding: 26px 50px 25px 44px;
}

.sidebar_text {
  display: inline-block;
  transition-duration: 1s;
}

.sidebar_list_item:hover .sidebar_text {
  transform: translate(20px, 0px);
  transition-duration: 1s;
}

.sidebar_item_link:hover {
  background-color: var(--sidebar-text-link-hover);
}

/* footer */

.footer_container {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--footer-container-bgr-color);
  font-size: 24px;
  line-height: 24px;
}

.ramda_footer_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer_item_link {
  text-decoration: none;
  color: var(--footer-item-link-color);
  margin-left: 20px;
  margin-right: 25px;
}

.footer_item_link:hover {
  color: var(--footer-item-link-color-hover);
  border-bottom: 1px solid var(--footer-borderBtm-link-hover);
}

.footer_paragraph {
  margin-right: 40px;
  color: var(--footer-copi-color);
}
