/* heading */
.heading {
  width: 100%;
  position: relative;
  background-color: #313131;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo_text {
  display: inline-block;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  margin-left: 27px;
}

.heading_navigation {
  margin: 0 150px;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.navigation_link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 20px;
}

.navigation_item:nth-child(n + 2) {
  margin-left: 35px;
}

.logo_img {
  display: inline-block;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.heading_search {
  display: inline-block;
  height: 100%;
  background-color: #000000;
}

.search_img {
  display: inline-block;
  padding: 27px;
}

/* news section  */

.news {
  background-image: url(../img/header_background.png);
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news_heading {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.news_link {
  text-align: center;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  background-color: #89ca62;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 170px;
  border-radius: 10px;
  margin-top: 45px;
  margin-left: 20px;
}

.news_articles {
  background-color: #14b9d5;
}

/* section  hotel */

.posts {
  background-color: #f2f2f2;
  text-align: center;
  height: 100%;
}

.posts_heading {
  display: inline-block;
  color: #18b4cf;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.img_list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 370px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: space-between;
  height: 900px;
  margin: 0;
}

.img_item {
  background-color: #ffffff;
}
.image_paragraph {
  font-family: "Open Sans", sans-serif;
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

/* section 2(clients) */

.clients_section {
  background-image: url(../img/bacground_img_section2.png);
  margin: 0;
  padding: 0;
  width: 100%;
}

.clients_paragraph {
  display: block;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 106px;
  position: relative;
}

.clients_paragraph::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  top: 140px;
  left: 48%;

  position: absolute;
}

.clients_container {
  display: grid;
  text-align: center;
}

.clients_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  list-style: none;
  margin-top: 200px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 192px;
  padding: 0;
  align-items: center;
}

/* section 3(top rated) */

.rated {
  width: 100%;
  text-align: center;
}
.rated_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
}

.rated_image {
  max-width: 100%;
}

/* section 4 */

.hot_news_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    "box_1 box_1 box_1 box_2"
    "box_3 box_3 box_4 box_4"
    "box_5 box_5 box_6 box_6"
    "box_7 box_8 box_8 box_8";
  padding: 0;
  margin: 0;
  gap: 40px;
  margin-bottom: 70px;
}

.box_1 {
  grid-area: box_1;
}
.box_2 {
  grid-area: box_2;
}
.box_3 {
  grid-area: box_3;
}
.box_4 {
  grid-area: box_4;
  justify-self: end;
}
.box_5 {
  grid-area: box_5;
}
.box_6 {
  grid-area: box_6;
  justify-self: end;
}
.box_7 {
  grid-area: box_7;
}
.box_8 {
  grid-area: box_8;
}

.hot_news_item {
  background-color: #f9f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.hot_news_item:nth-child(3) {
  width: 554px;
}
.hot_news_item:nth-child(4) {
  width: 554px;
}
.hot_news_item:nth-child(5) {
  width: 554px;
}
.hot_news_item:nth-child(6) {
  width: 554px;
}
.inner_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hot_news_link {
  text-decoration: none;
}

.hot_news_heading {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-top: 12px;
  margin-bottom: 15px;
  text-align: right;
  margin-right: 14px;
}

.hot_news_paragraph {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
  margin-right: 14px;
  margin-bottom: 3px;
}

.box1_heading {
  margin-top: 40px;
  margin-bottom: 14px;
  margin-right: 24px;
}

.box1_paragraph {
  margin-bottom: 33px;
  margin-right: 24px;
}

.box2_heading {
  text-align: center;
}
.box7_heading {
  margin-top: 5px;
  margin-bottom: 15px;
}
/* section 5 footer */

.footer {
  background-color: #000000;
  width: 100%;
  text-align: center;
}

.footer_container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "container_paragraph   container_image ";
  align-items: center;
}

.container_paragraph {
  grid-area: container_paragraph;
  justify-self: start;
}
.container_image {
  grid-area: container_image;
  justify-self: end;
}

.footer_paragraph {
  display: inline-block;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
}
