@font-face {
    font-family: 'Futura_BT';
    src: url(../fonts/futura/Futura_BT.ttf), format("ttf");
}

/*header*/
main {
    overflow: hidden;
}

.header {
    background: no-repeat url(../img/backgraund.png);
    height: 596px;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;



}

.nav_background {
    background: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20px;
}

.header_logo_link {
    text-decoration: none;
}

.header_logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #424F57;;
}

.header_logo_element {
    display: inline-block;
    color: #14AFCA;
    font-style: normal;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


.nav_list {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    width: 595px;
}

.list_item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.list_item:hover {
    color: #14AFCA;
}

.header_text_container {
   position: absolute;
    top: 45%;
}

.header_text {
    display: block;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
    width: 970px;
    font-family: "Futura_BT", sans-serif;
}

/*main*/

/*section_1*/
.section_1 {
    position: relative;
    z-index: 1;
    background-attachment: fixed;

}

.main_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_heading {
    color: #14AFCA;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top:122px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.main_heading_text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 75px;
    margin: 0;
}

.main_paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 992px;
    margin-top: 15px;
}

/*section_2*/
.section_2 {
  background: no-repeat url(../img/Rectangle_2.png);
    background-size: cover;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}


.section2_paragraph {
    color: #FFFFFF;
}


.section2_text_container {
    padding-top: 50px;
}


.section_1::after {
    content: '';
    display: block;
    /*background: #FFFFFF;*/
    border: 50vw solid transparent;
    border-top: 100px solid #FFFFFF;
    top: 362px;
    position: absolute;
    z-index: -1;


}

.img_list_container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 60px;
}

.logo_list {
    list-style: none;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
    column-gap: 62px;
    row-gap: 121px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.image_container {
    display: flex;
    background: #FCFBFB;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    padding: 19px 18px 19px 18px;
    align-items: center;
}

/*section 3*/

.section_3{
    position: relative;
    z-index: 3;
}

.photo_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
    gap: 58px;
    padding-bottom: 120px;
}

.photo_list_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 310px;

}

.photo_description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    padding-top: 20px;
    margin: 0;
}

/*section 3*/
.section_4 {
    background: no-repeat url(../img/Rectangle_2.png);
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 2;
    background-attachment: fixed;
}

.section_3::after {
    content: '';
    display: block;
    border: 50vw solid transparent;
    border-top: 100px solid #FFFFFF;
    top: 780px;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

}

.section4_text_container {
    padding-top: 100px;
}

.cite_paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    color: #D3CCCC;
    width: 907px;
    display: block;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

.autor {
    display: block;
    text-align: right;
    padding-top: 28px;
    padding-right: 35px;
    padding-bottom: 120px;
}

.section_4::after {
    content: '';
    display: block;
    background: #FFFFFF;
    width: 100%;
    height: 10vh;
    position: absolute;
    left: -117px;
    bottom: -137px;
    z-index: -1;
    transform: skewY(7deg);


}

.section_4::before {
    content: '';
    display: block;
    background: #FFFFFF;
    width: 100vw;
    height: 10vh;
    position: absolute;
    right: -148px;
    bottom: -134px;
    z-index: -1;
    transform: skewY(-7deg);


}

/* section_5 */

.section_5 {
    position: relative;
    z-index: 3 ;
}

.section_5_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
    width: 816px;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
}

footer_text_container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer_text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3C3C;
    letter-spacing: 0.7px;
    width: 460px;
    text-align: center;
    margin: 0;
}

.footer_text_element {
    font-weight: bold;
    margin: 0;


}




