html {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
}

.background_image {
    position: relative;
    background:no-repeat url(../img/bacground_1.png);
    background-size: cover;
    height: 100vh;
}

/*nav*/

.header {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 58px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.nav_image{
    margin-right: 25px;
    fill: #FFFFFF;
    transition: 0.7s;
}

.nav_image:hover {
    fill: #01813F;
    transition: 0.7s;
}

.vector_image{
    margin-right: 50px;
}

.image_container{
    position: relative;
}

.image_container::after{
    display: block;
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
   bottom: 6px;
    right: 25px;
}

.header_nav {
    display: flex;
    width: 1208px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


.logo_link {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.7s;
}

.logo_link:hover{
   color:  #01813F;
    transition: 0.7s;
}

.nav_elements {
    display: flex;
    align-items: center;
    position: relative;
}

.header_login {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    margin: 0;
}

.links {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.7s;
}

.links:hover{
    color: #01813F;
    transition: 0.7s;
}

/*main*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 58px);
}

.modal_container {
    background-color: #FFFFFF;
    width: 444px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.forms_container {
    max-width: 325px;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
}


.actions {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: end;
}

.forms_container::before{
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    background:#3CB878;
    left: -60px;
    top: 32px;

}

.actions_heading {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
}

.actions_link {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #3CB878;
}

.actions_link:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #01813F;
    transition: 0.5s ease-in-out;
}


.actions_link:hover:after{
    color: #01813F;
    width: 100%;
    transition: 0.5s ease-in-out;
}
.actions_link:hover{
    color: #01813F;
}

.social {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 15px;
}

.social_link {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
    padding: 12px 22px 12px 16px;
    width: 160px;
    background-color: #305DB8;
    align-items: center;
    border-radius: 5px;

}

.Fecebook{
    margin-left: 0;
    transition: 0.7s;
}

.Fecebook:hover{
    background-color: #022263;
    transition: 0.7s;
}

.social_paragraph {
    margin: 0;
    padding-left: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.social_paragraph::before {
    display: block;
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    background:#0A162F;
    opacity: 0.1;
    top: -5px;
    left: 18px;
}

.Google {
    background-color:#DF4A32;
    transition: 0.7s;
}

.Google:hover{
    transition: 0.7s;
    background-color: #AB1F09;
}

.google_paragraph{
    margin: 0;
    padding-left: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.google_paragraph::before{
    display: block;
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    background:#2B0D09;
    opacity: 0.1;
    top: -6px;
    left: 8px;
}


.element_forms {
  text-align: center;
    position: relative;
    margin-top: 30px;
}



.element_forms_paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.element_forms::before{
    display: block;
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    background: #F2F2F2;
    top: 8.1px;
    left: 11 px;

}

.element_forms::after {
    display: block;
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    background: #F2F2F2;
    left: 172px;
    bottom: 5px;
}

/*forms*/
.form_list {
    list-style: none;
    margin: 0;
    padding: 0;
}


input[type="text"], input [type="last_name"], input[type="email"], input[type="password"], input[type="confirm_password"]{
    width: 300px;
    height: 44px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 14px;
    padding-left: 20px;
}

#name{
    margin-top: 0;
}


input::-moz-placeholder { color:
        #BEBEBE; }
input::-webkit-input-placeholder { color:
        #BEBEBE; }



input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    border-color: transparent;
    outline: none;
    transition: 0.7s;
}

.checbox_item{
    margin-top: 12px;
}

.label_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
}

.label_link {
    display: inline-block;
    color: rgba(60, 184, 120, 0.8);
    text-decoration: none;
    transition: 5s;
}


.label_link:after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #01813F;
    transition: 0.7s ease-in-out;
}
.label_link:hover:after {
    width: 100%;
    color: #01813F;
}

.label_link:hover{
    color: #01813F;
}

input[type="submit"] {
 background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 99px 16px 99px;
    border: none;
    width: 324px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 38px;
    transition: 1s;
}

input[type="submit"]:hover{
    background: #01813F;
    transition: 0.7s;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background: rgba(0, 0, 0, 0.0001);
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/Vector_5.svg);
}


