body{
    width: 100%;
    height: 100vh;

}

.background_container {
    background: no-repeat url(../img/background_1.png);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 0 auto;
    max-width: 1028px;
}

/*navigation logo*/

.nav {
    display: flex;
    justify-content: space-between;

}

.logo_link {
    display: flex;
    width: 200px;
    text-decoration: none;
    align-items: center;
    margin-top:51px;




}

.logo_link:hover  .logo_heading {
    color: #F26522;
}


.nav_background_container {
    display: inline-block;
    background-image: url(../img/logo_1.svg);
    width: 53px;
    height: 47px;
}

.logo_link:hover  .nav_background_container {
    background-image: url(../img/logo_2.svg);
}

.logo_heading {
  display: inline-block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    padding-left: 8px;
    width: 140px;


}

.logo_heading_element {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

/*navigation contacts*/
.nav_contacts {
    display: grid;
    grid-template-rows: repeat(2, 21px);
    row-gap: 19px;
    margin-top: 46px;

}

.contacts_link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-align: end;
}

.contacts_link:hover{
    color: #F26522;

}

    /*main list*/

.main_list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,300px) ;
    grid-template-rows: repeat(2,261px);
    row-gap: 78px;
    column-gap: 61px;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.item_link {
    text-decoration: none;
}

.list_item {
    position: relative;
}
.item_paragraph {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0;
    transition: color 0.35s ease;
}

.list_item:hover .item_paragraph {
    color: #F26522;
}

/* bottom element*/

.bottom_element {
    width: 100%;
    background-color: #F26522;
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transition: bottom 0.35s ease;
    bottom: -55px;
}

.list_item:hover .bottom_element {
    bottom: 0;
}

.item_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bottom_element_price {
    display: block;
}

.price_paragraph {
    margin-top:7px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.price_heading {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    margin-left: 16px;
}

.bottom_element_details {
    display: flex;
}

.details_paragraph {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 29px;
}

.details_paragraph:after {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 1px  solid white;
    border-top: 1px  solid white;
    transform: rotate(45deg);
    margin-right: 15px;
    margin-left: 16px;
    bottom: 1px;
}

.item_img {
    margin: 0 auto;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #FFFFFF 100%);
    border-image-slice: 1;
}
    /*footer*/

.footer_heading {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top:49px;
    padding-bottom:15px ;
    margin: 0;
}






