.box {
    margin-bottom: 1rem;
}

.text-field__label {
    display: block;
    margin-bottom: 1rem;
}

.container {
    position: relative;
}
.text-field__input {
    display: block;
    width: 90vw;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline:none;

}
.close {
    background: none;
    border: none;
    font-size: 1vw;
    position: absolute;
    top: 13px;
    right: 110px;
    display: block;
}
